server:
  port: 9000
  compression:
    enabled: true
    mime-types: application/json
    min-response-size: 1MB
spring:
  application:
    name: inspect
  datasource:
    url: jdbc:h2:mem:testdb;DATABASE_TO_LOWER=TRUE;
    username: sa
    password:
    driver-class-name: org.h2.Driver
    #data: classpath:data-h2.sql
    hikari:
      minimum-idle: 1
      maximum-pool-size: 5
  h2:
    console:
      enabled: true
      path: /h2

logging:
  level:
    org.usf.jquery: DEBUG
    org.usf.inspect: DEBUG
    org.springframework.jdbc.core: DEBUG

inspect:
  enabled: true
  dispatch:
    delay: 30
    unit: SECONDS
    buffer-max-size: -1 #inspect-server only
  track:
    rest-session:
      excludes:
        method: OPTIONS
        path: /favicon.ico
  purge:
    enabled : false
    schedule: "0 0 0 * * *"
    depth: 90 #en jour
  partition:
    enabled: false
    schedule: "0 0 0 L * ?"
    frequency: MONTHS
    session:
      http: DAYS
      #main: MONTHS
    request:
      http: DAYS
      jdbc: DAYS
      #ftp: MONTHS
      #smtp: MONTHS
      #ldap: MONTHS
      #local: MONTHS
  #env
    #ppd: 120

#   main-session: false
#   jdbc-request: false
#   rest-request: false
# target: REMOTE => log only
# server:
#   host:
#   compress-min-size: